.header-notes {
    margin-bottom: 100px;
}

.notes-page {
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
}

.notes-card {
  max-width: 1100px;
  margin: 0 auto;

  border-radius: 28px;
  border: 3px solid rgba(255, 255, 255, 0.35);

  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(6px);

  padding: 22px 24px;
}

.notes-title {
  font-size: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 12px;
}

.notes-content {
  color: rgba(255, 255, 255, 0.92);

  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
  font-size: 16px;
  line-height: 1.55;

  white-space: pre-wrap;

  max-height: 52vh;
  overflow: auto;

  padding-right: 6px;
}

.buttons {
    position: relative;
    margin-left: 10px; 
    display: flex;
    flex-direction: row;
    gap: 50px;
}

@media only screen and (max-width: 600px) {
    .my-component {
      width: 100%;
      padding: 10px;
    }
  }
  
  @media only screen and (min-width: 601px) {
    .my-component {
      width: 500px; 
      margin: 0 auto; 
    }
  }

  .notes-home-btn {
    position: fixed;
    top: 25px;
    left: 25px;
  
    background: transparent;
    border: 4px solid rgba(255, 255, 255, 0.7);
    color: white;
  
    width: 260px;
    height: 75px;
  
    border-radius: 999px;
    font-size: 22px;
    font-weight: 700;
  
    cursor: pointer;
    z-index: 10;
  }
  
  .notes-home-btn:hover {
    color: rgb(185, 185, 185);
    border-color: rgb(185, 185, 185);
  }

  .notes-btn {
    background: transparent;
    border: 4px solid;
  
    width: 240px;
    height: 90px;
  
    border-radius: 999px;
    font-size: 22px;
    font-weight: 700;
    color: white;
  
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .flashcards-btn {
    background-color: #4FD98A;
    border-color: #2FB46A;
  }
  
  .flashcards-btn:hover {
    background-color: #2FB46A;
    border-color: #1F8F55;
  }

  .fill-btn {
    background-color: #4FA3E3;
    border-color: #2E7FC2;
  }
  
  .fill-btn:hover {
    background-color: #2E7FC2;
    border-color: #1E5E99;
  }
  
  .mcq-btns {
    background-color: #9B73E8;
    border-color: #7C55C8
  }

  .mcq-btns:hover {
    background-color: #7C55C8;
    border-color: #5F3FA6
  }

  .notes-btn:hover {
    transform: translateY(-8px) ;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  }

